body {
display: flex;
flex-direction: column;  
align-items: center;
margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #e4e4e7;
  --max-width:1000px;
}
*{
  box-sizing: border-box;
}
header{
  display: flex;
  width: 100%;
  background-color: #0f172a;
}
header>div{
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #0f172a;
  color: #fde68a;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  border-radius: 5px;
}
header>div>h1{
  margin-right: auto;
  margin-block: 0;
  font-size: 2.5rem;
}
header a{
  margin: 20px;
  border:2px solid #fde68a;
  padding: 5px;
  border-radius: 5px;
}
:any-link{
  color: #fde68a;
  font-size: 1.8rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-decoration: none;
  transition: color 500ms ease;
}
:any-link:hover{
  color: #e4e4e7;
  border-color: #e4e4e7;
}
img{
  max-width: 150px;
  border-radius: 50%;
  aspect-ratio: 1/1;

}
.no{
  margin-block: auto;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
}
form{
  display: grid;
  margin-block:auto ;
  max-width: var(--max-width);
  padding-block: 20px;
  padding-inline: 10px;
}
form>label,button{
  font-size: 2rem;
  font-weight: bold;
  padding: 10px;
}
button{
  width: fit-content;
  color:#e4e4e7;
  background-color: #0f172a;
  border-radius: 5px;
  margin-inline: auto;
  transition: background-color 200ms ease-in-out;
  box-shadow: 1px 1px 8px 0px black;
}
button:hover{
  background-color: #334155;
}
.posts{
  display: grid;
  align-items: center;
  margin-top: 50px;
  gap:20px
}
.post{
  display: flex;
  flex-direction: column;
  background-color: #0f172a;
  color:#f8fafc;
  padding-block: 20px;
  padding-inline: 40px;
  border-radius: 5px;
  gap: 15px;
  /* width: fit-content; */
}
.top{
  display: flex;
  gap: 30px;
  align-items: center;
}
.regular_profile{
  border-radius: 50%;
  max-width: 55px;
  max-height: 55px;
  border:2px solid black;
  padding: 5px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(215deg) brightness(114%) contrast(101%);
}
.profile{
  max-width: 55px;
  max-height: 55px;
  border:2px solid white;
  padding: 5px;
  aspect-ratio: 1/1;
}
.creator,.date{
  font-weight: bold;
  font-size: 1.2rem;
}
.creator{
  font-size: 1.4rem;
  color:#fde68a
}
.content{
  margin-left: 10px;
  font-size: 1.5rem;
}
input{
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 5px;
}
.margin_top{
  margin-top: 10px;
}
.special{
  color: #fde68a;
  text-align: center;
  background-color: #0f172a;
  padding: 5px;
  margin:5px;
  border-radius: 5px;
}
.sign_up_image{
  max-width: 90px;
}
.images{
  padding-block: 20px;
  border-width: 5px;
  display: flex;
  gap:10px;
}
input[type="radio"]{
  display: none;
}
input[type="radio"]:checked+label img{
  outline: 5px solid #0f172a;
}